*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #fff;
}

.container{
  height: 600px;
  max-width: 480px;
  width: 100%;
  background-color: #DCDCDC;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
table, th, td {
  border:1px solid black;
}

.center{
text-align:center;
}
.search{
        float:right;
        margin:7px;
    }

.search button{
        background-color: #FF1493;
        color: #f2f2f2;
        float: right;
        padding: 5px 10px;
        margin-right: 16px;
        font-size: 9px;
        border: none;
        cursor: pointer;
        height:19px;
    }