@()

<html lang="en" xmlns:background="http://www.w3.org/1999/xhtml">
<head>



    <link rel="stylesheet" href="http://localhost:9000/assets/stylesheets/adminhome.css">

    <meta charset="UTF-8">
    <title>AdminHome Page</title>




</head>
<body>

<div class="container">

    <div ><b>Welcome To Home Page!</b></div>
    <hr size="1" width="100%" color="black"><br>


    <div class="center">
        <img src="http://localhost:9000/assets/images/bank.png" style="width:200px; height:180px;">
        <br>
        <br>
        <br>
        <br>
        <a href="/viewPage/2">
        <label>List of customers</label>
        </a><br>
    </div>
    <div class="center">
        <a href="/registration">
        <label>Registration</label>
        </a><br>
    </div>

    <br>
    <br>
    <br>
    <br>
    <div class="button">
        <a href="/bank">
        <input type="submit" value="LogOut">
        </a>
    </div>








</div>






</body>
</html>