<!DOCTYPE html>
<html lang="en" >
<head>



    <link rel="stylesheet" href="http//localhost:9000/assets/stylesheets/style2.css">

    <meta charset="UTF-8">
    <title>LoginPage</title>




</head>
<body>

<div class="container">

    <div>Sign In</div>
    <hr size="1" width="100%" color="black"><br>
    <form action="/login/data" method="POST">

        <div class="input-box">
            <span class="details">Username</span>
            <input type="text" placeholder="Enter your username" required><br><br>
        </div>


        <div class="input-box">
            <span class="details">Password</span>
            <input type="text" placeholder="Enter your password" required><br><br>
        </div>
        <div class="button">
            <input type="submit" value="Log In">
        </div>
        <br>
        <br>
        <br>
        <br>
        <hr size="1" width="100%" color="black"><br>
        <label>New User</label><br><br>
        <div class="button">
            <input type="submit" value="Sign Up">
        </div>



    </form>

</div>

</body>
</html>