<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="http://localhost:9000/assets/stylesheets/depositpage.css">
    <meta charset="UTF-8">
    <title>WithDraw Page</title>
</head>
<body>
<div class="container">

    <h2 style="text-align:center">Withdraw Money</h2>
    <hr size="1" width="100%" color="black"><br>
    <form>
        <label>Account Number</label>
        <input type="text" placeholder="Enter your name">
        <br>
        <br>

        <label>PIN</label>
        <input type="text" placeholder="Ener IFSC code here">
        <br>
        <br>

        <label>Add amount</label>
        <input type="number" placeholder="Enter amount">
        <br>

        <button type="submit">Withdraw</button>
        <a href="/uhome">Back</a>
    </form>

</div>

</body>
</html>